# 🧩 solutions

Collection of my solutions to coding problems — with source code and explanation. Currently only solving on [LeetCode](https://leetcode.com/).

- [All Solutions](#all-solutions)
- [Solutions By Category](#solutions-by-category)
{% for category in by_category.keys() %}
    * [{{ category.title() }}](#{{ category.replace(' ', '-')}})
{% endfor %}

## All Solutions
{% for id, solutions in by_platform.items() %}


### {{ platforms[id] }}

| Problem ID | Solution | Problem Specs |
|--|--|--|
    {% for solution in solutions %}
| {{ solution.problem_id }} | [{{ solution.title}}]({{ solution.path }}) | [⇨]({{ solution.link }}) |
    {% endfor %}
{% endfor %}



## Solutions By Category
{% for category, solutions in by_category.items() %}


### {{ category.title() }}

| Platform | Problem ID | Solution | Problem Specs |
|--|--|--|--|
    {% for solution in solutions %}
| {{ platforms[solution.platform] }} | {{ solution.problem_id }} | [{{ solution.title}}]({{ solution.path }}) | [⇨]({{ solution.link }}) |
    {% endfor %}
{% endfor %}